.App {
  text-align: center;
}

.smurfs {
  margin: 4rem auto 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  padding: 2%;
  border: 1px solid black;
}

.smurf {
  padding: 2rem;
  box-shadow: 0 0 5px 1px rgb(0, 0, 0, 0.2);
  border: 1px solid rgb(0, 0, 0, 0.4);
}
